
<button routerLink="">Home</button><h3>Here is the panel of broadcast system where communication is implemented:</h3>
<div class="container">
    
     <div class="corner top left" id="first-div">{{ inputValue }}</div>
     <div id="second-div" class="corner top right">{{ inputValue }}</div>
   
    <div id="third-div" class="center"><input type="text" [(ngModel)]="inputValue" placeholder="enter a text here"></div>

       <div id="fourth-div" class="corner bottom left">{{ inputValue }}</div>
     <div id="fifth-div" class="corner bottom right">{{ inputValue }}</div>
     
     
   </div>